    <!--FOOTER-->
    <footer class="footer">
      <section>© 2020 Patitas</section>
      <section>Hecho con &#x2764</section>
      <section>
        <a href="https://instagram.com/pupiaguayo"><i class="fab fa-instagram fa-lg"></i> </a>
        <a href="https://twitter.com/pupiaguayo"><i class="fab fa-twitter fa-lg"></i></a>
      </section>
    </footer>
    <!--FOOTER-->
    <script src="https://unpkg.com/scrollreveal"></script>
    <script src="/js/script.js"></script>
  </body>
</html>
