<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <link rel="icon" type="svg" src="/img/LogoPatitas.svg">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no"/>
    <meta name="description" content="Con Patitas dar una mano es más simple, ayudemos a los que ayudan."/>
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
      integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="/css/style.css" />
    <link rel="stylesheet" href="/css/stylePages.css" />
    <link rel="stylesheet" href="/css/modal.css" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.14.0/css/all.min.css"
      integrity="sha512-1PKOgIY59xJ8Co8+NE6FZ+LOAZKjy+KY8iq0G4B3CyeY6wYHN3yt9PW0XpSriVlkMXe40PTKnXrLnZ9+fkDaog=="
      crossorigin="anonymous"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Overpass:ital,wght@0,100;0,200;0,300;0,400;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,600;1,700;1,800;1,900&display=swap"
      rel="stylesheet"
    />
    <title>Patitas - <%= titulo %></title>
  </head>
  <body>
    <div class="container">
      <!--HEADER NAV-->
      <header class="header-nav">
        <div>
          <a href="/">
        <img src="/img/LogoPatitas.svg" alt="LogoPatitas" class="Logo" />
      </a>
        <span>Patitas</span>
      </div>
        <label id="button-menu"><i class="fas fa-bars button-menu"></i></label>
        <nav class="navbar">
          <ul id="nav-links">
            <li>
              <a href="/#comoFunciona">¿Cómo funciona?</a>
              <a href="/#donar">Donar</a>
            </li>
          </ul>
        </nav>
      </header>
      <!--HEADER NAV-->